body {
    font-family: 'Bahnschrift SemiBold', 'Calibri', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
    background-color: rgb(245,245,245);
}

em {
    color: rgb(91, 155, 213);
    font-style: normal;
}

#intro-box {
    width: 70%;
    font-size: 35px;
    padding-top: 0px;
    line-height: 45px;
    background-color: rgb(255,255,255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#intro-box p {
    color: black;
    max-width: 70%;
    padding-left: 3%;
}

#intro-box p em{
    background-color:rgba(91, 155, 213, 0.6);
    color: rgb(255, 255, 255);
    padding: 0px 2px 0px 2px;
    font-weight: 700;
}

#intro-box h2 {
    color: rgb(60, 60, 223);
}

#header h3 {
    font-size: 30px;
}

#header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-left: 50px;
}

#header h4 {
    font-size: 18px;
    padding-left: 130px;
}

#socials {
    margin-top: 40px;
    margin-left: 30%;
    display: inline-block;
}

#socials img {
    max-width: 60px;
}

#socials table {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#socials li {
    display: inline-block;
    margin-right: 100px;
}

#socials li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#socials li:hover {
    color: blue;
}

#socials li:hover {
    color: blue;
}

@media only screen and (max-width: 1000px) {
    #intro-box {
        width: 100%;
        max-width: none; 
    }
    #intro-box p {
        max-width: none;
    }
}